[submodule "submodules/jtendermint"]
	path = submodules/jtendermint
	url = https://github.com/jTendermint/jabci.git
[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
