[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "submodules/cometbft"]
	path = submodules/cometbft
	url = https://github.com/cometbft/cometbft.git
