[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "submodules/tendermint"]
	path = submodules/tendermint
	url = https://github.com/tendermint/tendermint/
