{:crypto/ProofOp
 {:fields
  {:type {:tag 1, :scalar? true, :type :string, :wire-type 2},
   :key {:tag 2, :scalar? true, :type :bytes, :wire-type 2},
   :data {:tag 3, :scalar? true, :type :bytes, :wire-type 2}}},
 :abci/ResponseBeginBlock
 {:fields
  {:events
   {:tag 1,
    :repeated? true,
    :type :abci/Event,
    :wire-type 2}}},
 :abci/ResponseLoadSnapshotChunk
 {:fields
  {:chunk {:tag 1, :scalar? true, :type :bytes, :wire-type 2}}},
 :abci/RequestFlush {},
 :abci/ValidatorUpdate
 {:fields
  {:pub-key {:tag 1, :type :crypto/PublicKey, :wire-type 2},
   :power {:tag 2, :scalar? true, :type :int64, :wire-type 0}}},
 :abci/ResponseEcho
 {:fields
  {:message {:tag 1, :scalar? true, :type :string, :wire-type 2}}},
 :abci/ResponseFlush {},
 :abci/EventAttribute
 {:fields
  {:key {:tag 1, :scalar? true, :type :bytes, :wire-type 2},
   :value {:tag 2, :scalar? true, :type :bytes, :wire-type 2},
   :index {:tag 3, :scalar? true, :type :bool, :wire-type 0}}},
 :abci/ResponseInfo
 {:fields
  {:data {:tag 1, :scalar? true, :type :string, :wire-type 2},
   :version {:tag 2, :scalar? true, :type :string, :wire-type 2},
   :app-version {:tag 3, :scalar? true, :type :uint64, :wire-type 0},
   :last-block-height
   {:tag 4, :scalar? true, :type :int64, :wire-type 0},
   :last-block-app-hash
   {:tag 5, :scalar? true, :type :bytes, :wire-type 2}}},
 :abci/ResponseListSnapshots
 {:fields
  {:snapshots
   {:tag 1,
    :repeated? true,
    :type :abci/Snapshot,
    :wire-type 2}}},
 :abci/Evidence
 {:fields
  {:type {:tag 1, :type :abci/EvidenceType, :wire-type 0},
   :validator {:tag 2, :type :abci/Validator, :wire-type 2},
   :height {:tag 3, :scalar? true, :type :int64, :wire-type 0},
   :time {:tag 4, :type :google.protobuf/Timestamp, :wire-type 2},
   :total-voting-power
   {:tag 5, :scalar? true, :type :int64, :wire-type 0}}},
 :abci/ResponseInitChain
 {:fields
  {:consensus-params
   {:tag 1, :type :abci/ConsensusParams, :wire-type 2},
   :validators
   {:tag 2,
    :repeated? true,
    :type :abci/ValidatorUpdate,
    :wire-type 2},
   :app-hash {:tag 3, :scalar? true, :type :bytes, :wire-type 2}}},
 :types/Header
 {:fields
  {:last-block-id
   {:tag 5, :type :types/BlockID, :wire-type 2},
   :last-commit-hash
   {:tag 6, :scalar? true, :type :bytes, :wire-type 2},
   :consensus-hash
   {:tag 10, :scalar? true, :type :bytes, :wire-type 2},
   :data-hash {:tag 7, :scalar? true, :type :bytes, :wire-type 2},
   :evidence-hash {:tag 13, :scalar? true, :type :bytes, :wire-type 2},
   :app-hash {:tag 11, :scalar? true, :type :bytes, :wire-type 2},
   :time {:tag 4, :type :google.protobuf/Timestamp, :wire-type 2},
   :proposer-address
   {:tag 14, :scalar? true, :type :bytes, :wire-type 2},
   :last-results-hash
   {:tag 12, :scalar? true, :type :bytes, :wire-type 2},
   :chain-id {:tag 2, :scalar? true, :type :string, :wire-type 2},
   :validators-hash
   {:tag 8, :scalar? true, :type :bytes, :wire-type 2},
   :version
   {:tag 1, :type :version/Consensus, :wire-type 2},
   :next-validators-hash
   {:tag 9, :scalar? true, :type :bytes, :wire-type 2},
   :height {:tag 3, :scalar? true, :type :int64, :wire-type 0}}},
 :abci/ResponseOfferSnapshot
 {:fields
  {:result
   {:tag 1,
    :type :abci.ResponseOfferSnapshot/Result,
    :wire-type 0}}},
 :abci/ResponseSetOption
 {:fields
  {:code {:tag 1, :scalar? true, :type :uint32, :wire-type 0},
   :log {:tag 3, :scalar? true, :type :string, :wire-type 2},
   :info {:tag 4, :scalar? true, :type :string, :wire-type 2}}},
 :abci/RequestCommit {},
 :abci/ResponseApplySnapshotChunk
 {:fields
  {:result
   {:tag 1,
    :type :abci.ResponseApplySnapshotChunk/Result,
    :wire-type 0},
   :refetch-chunks
   {:tag 2,
    :repeated? true,
    :packed? true,
    :scalar? true,
    :type :uint32,
    :wire-type 0},
   :reject-senders
   {:tag 3,
    :repeated? true,
    :scalar? true,
    :type :string,
    :wire-type 2}}},
 :abci/Request
 {:fields
  {:flush
   {:tag 2,
    :type :abci/RequestFlush,
    :wire-type 2,
    :one-of :value},
   :offer-snapshot
   {:tag 13,
    :type :abci/RequestOfferSnapshot,
    :wire-type 2,
    :one-of :value},
   :end-block
   {:tag 10,
    :type :abci/RequestEndBlock,
    :wire-type 2,
    :one-of :value},
   :deliver-tx
   {:tag 9,
    :type :abci/RequestDeliverTx,
    :wire-type 2,
    :one-of :value},
   :check-tx
   {:tag 8,
    :type :abci/RequestCheckTx,
    :wire-type 2,
    :one-of :value},
   :echo
   {:tag 1,
    :type :abci/RequestEcho,
    :wire-type 2,
    :one-of :value},
   :commit
   {:tag 11,
    :type :abci/RequestCommit,
    :wire-type 2,
    :one-of :value},
   :info
   {:tag 3,
    :type :abci/RequestInfo,
    :wire-type 2,
    :one-of :value},
   :set-option
   {:tag 4,
    :type :abci/RequestSetOption,
    :wire-type 2,
    :one-of :value},
   :init-chain
   {:tag 5,
    :type :abci/RequestInitChain,
    :wire-type 2,
    :one-of :value},
   :begin-block
   {:tag 7,
    :type :abci/RequestBeginBlock,
    :wire-type 2,
    :one-of :value},
   :query
   {:tag 6,
    :type :abci/RequestQuery,
    :wire-type 2,
    :one-of :value},
   :list-snapshots
   {:tag 12,
    :type :abci/RequestListSnapshots,
    :wire-type 2,
    :one-of :value},
   :load-snapshot-chunk
   {:tag 14,
    :type :abci/RequestLoadSnapshotChunk,
    :wire-type 2,
    :one-of :value},
   :apply-snapshot-chunk
   {:tag 15,
    :type :abci/RequestApplySnapshotChunk,
    :wire-type 2,
    :one-of :value}}},
 :version/Consensus
 {:fields
  {:block {:tag 1, :scalar? true, :type :uint64, :wire-type 0},
   :app {:tag 2, :scalar? true, :type :uint64, :wire-type 0}}},
 :abci/LastCommitInfo
 {:fields
  {:round {:tag 1, :scalar? true, :type :int32, :wire-type 0},
   :votes
   {:tag 2,
    :repeated? true,
    :type :abci/VoteInfo,
    :wire-type 2}}},
 :abci/EvidenceType
 {:enum? true,
  :fields {:UNKNOWN 0, :DUPLICATE-VOTE 1, :LIGHT-CLIENT-ATTACK 2}},
 :types/EvidenceParams
 {:fields
  {:max-age-num-blocks
   {:tag 1, :scalar? true, :type :int64, :wire-type 0},
   :max-age-duration
   {:tag 2, :type :google.protobuf/Duration, :wire-type 2},
   :max-bytes {:tag 3, :scalar? true, :type :int64, :wire-type 0}}},
 :abci/RequestApplySnapshotChunk
 {:fields
  {:index {:tag 1, :scalar? true, :type :uint32, :wire-type 0},
   :chunk {:tag 2, :scalar? true, :type :bytes, :wire-type 2},
   :sender {:tag 3, :scalar? true, :type :string, :wire-type 2}}},
 :abci/ConsensusParams
 {:fields
  {:block {:tag 1, :type :abci/BlockParams, :wire-type 2},
   :evidence
   {:tag 2, :type :types/EvidenceParams, :wire-type 2},
   :validator
   {:tag 3, :type :types/ValidatorParams, :wire-type 2},
   :version
   {:tag 4, :type :types/VersionParams, :wire-type 2}}},
 :abci/Snapshot
 {:fields
  {:height {:tag 1, :scalar? true, :type :uint64, :wire-type 0},
   :format {:tag 2, :scalar? true, :type :uint32, :wire-type 0},
   :chunks {:tag 3, :scalar? true, :type :uint32, :wire-type 0},
   :hash {:tag 4, :scalar? true, :type :bytes, :wire-type 2},
   :metadata {:tag 5, :scalar? true, :type :bytes, :wire-type 2}}},
 :abci/ResponseCommit
 {:fields
  {:data {:tag 2, :scalar? true, :type :bytes, :wire-type 2},
   :retain-height
   {:tag 3, :scalar? true, :type :int64, :wire-type 0}}},
 :crypto/PublicKey
 {:fields
  {:ed25519
   {:tag 1, :scalar? true, :type :bytes, :wire-type 2, :one-of :sum},
   :secp256k1
   {:tag 2, :scalar? true, :type :bytes, :wire-type 2, :one-of :sum}}},
 :abci/RequestOfferSnapshot
 {:fields
  {:snapshot {:tag 1, :type :abci/Snapshot, :wire-type 2},
   :app-hash {:tag 2, :scalar? true, :type :bytes, :wire-type 2}}},
 :abci/ResponseQuery
 {:fields
  {:key {:tag 6, :scalar? true, :type :bytes, :wire-type 2},
   :index {:tag 5, :scalar? true, :type :int64, :wire-type 0},
   :value {:tag 7, :scalar? true, :type :bytes, :wire-type 2},
   :info {:tag 4, :scalar? true, :type :string, :wire-type 2},
   :code {:tag 1, :scalar? true, :type :uint32, :wire-type 0},
   :codespace {:tag 10, :scalar? true, :type :string, :wire-type 2},
   :proof-ops
   {:tag 8, :type :crypto/ProofOps, :wire-type 2},
   :log {:tag 3, :scalar? true, :type :string, :wire-type 2},
   :height {:tag 9, :scalar? true, :type :int64, :wire-type 0}}},
 :abci/Event
 {:fields
  {:type {:tag 1, :scalar? true, :type :string, :wire-type 2},
   :attributes
   {:tag 2,
    :repeated? true,
    :type :abci/EventAttribute,
    :wire-type 2}}},
 :abci/RequestQuery
 {:fields
  {:data {:tag 1, :scalar? true, :type :bytes, :wire-type 2},
   :path {:tag 2, :scalar? true, :type :string, :wire-type 2},
   :height {:tag 3, :scalar? true, :type :int64, :wire-type 0},
   :prove {:tag 4, :scalar? true, :type :bool, :wire-type 0}}},
 :abci/RequestCheckTx
 {:fields
  {:tx {:tag 1, :scalar? true, :type :bytes, :wire-type 2},
   :type {:tag 2, :type :abci/CheckTxType, :wire-type 0}}},
 :abci/RequestInitChain
 {:fields
  {:time {:tag 1, :type :google.protobuf/Timestamp, :wire-type 2},
   :chain-id {:tag 2, :scalar? true, :type :string, :wire-type 2},
   :consensus-params
   {:tag 3, :type :abci/ConsensusParams, :wire-type 2},
   :validators
   {:tag 4,
    :repeated? true,
    :type :abci/ValidatorUpdate,
    :wire-type 2},
   :app-state-bytes
   {:tag 5, :scalar? true, :type :bytes, :wire-type 2},
   :initial-height
   {:tag 6, :scalar? true, :type :int64, :wire-type 0}}},
 :abci/RequestDeliverTx
 {:fields {:tx {:tag 1, :scalar? true, :type :bytes, :wire-type 2}}},
 :abci/RequestListSnapshots {},
 :abci/RequestLoadSnapshotChunk
 {:fields
  {:height {:tag 1, :scalar? true, :type :uint64, :wire-type 0},
   :format {:tag 2, :scalar? true, :type :uint32, :wire-type 0},
   :chunk {:tag 3, :scalar? true, :type :uint32, :wire-type 0}}},
 :abci/ResponseException
 {:fields
  {:error {:tag 1, :scalar? true, :type :string, :wire-type 2}}},
 :abci/RequestEndBlock
 {:fields
  {:height {:tag 1, :scalar? true, :type :int64, :wire-type 0}}},
 :abci/VoteInfo
 {:fields
  {:validator {:tag 1, :type :abci/Validator, :wire-type 2},
   :signed-last-block
   {:tag 2, :scalar? true, :type :bool, :wire-type 0}}},
 :abci/RequestEcho
 {:fields
  {:message {:tag 1, :scalar? true, :type :string, :wire-type 2}}},
 :abci/RequestBeginBlock
 {:fields
  {:hash {:tag 1, :scalar? true, :type :bytes, :wire-type 2},
   :header {:tag 2, :type :types/Header, :wire-type 2},
   :last-commit-info
   {:tag 3, :type :abci/LastCommitInfo, :wire-type 2},
   :byzantine-validators
   {:tag 4,
    :repeated? true,
    :type :abci/Evidence,
    :wire-type 2}}},
 :types/BlockID
 {:fields
  {:hash {:tag 1, :scalar? true, :type :bytes, :wire-type 2},
   :part-set-header
   {:tag 2, :type :types/PartSetHeader, :wire-type 2}}},
 :abci/ResponseCheckTx
 {:fields
  {:events
   {:tag 7,
    :repeated? true,
    :type :abci/Event,
    :wire-type 2},
   :gas-wanted {:tag 5, :scalar? true, :type :int64, :wire-type 0},
   :gas-used {:tag 6, :scalar? true, :type :int64, :wire-type 0},
   :priority {:tag 10, :scalar? true, :type :int64, :wire-type 0},
   :sender {:tag 9, :scalar? true, :type :string, :wire-type 2},
   :info {:tag 4, :scalar? true, :type :string, :wire-type 2},
   :code {:tag 1, :scalar? true, :type :uint32, :wire-type 0},
   :mempool-error
   {:tag 11, :scalar? true, :type :string, :wire-type 2},
   :codespace {:tag 8, :scalar? true, :type :string, :wire-type 2},
   :log {:tag 3, :scalar? true, :type :string, :wire-type 2},
   :data {:tag 2, :scalar? true, :type :bytes, :wire-type 2}}},
 :abci/Response
 {:fields
  {:flush
   {:tag 3,
    :type :abci/ResponseFlush,
    :wire-type 2,
    :one-of :value},
   :offer-snapshot
   {:tag 14,
    :type :abci/ResponseOfferSnapshot,
    :wire-type 2,
    :one-of :value},
   :end-block
   {:tag 11,
    :type :abci/ResponseEndBlock,
    :wire-type 2,
    :one-of :value},
   :deliver-tx
   {:tag 10,
    :type :abci/ResponseDeliverTx,
    :wire-type 2,
    :one-of :value},
   :check-tx
   {:tag 9,
    :type :abci/ResponseCheckTx,
    :wire-type 2,
    :one-of :value},
   :echo
   {:tag 2,
    :type :abci/ResponseEcho,
    :wire-type 2,
    :one-of :value},
   :commit
   {:tag 12,
    :type :abci/ResponseCommit,
    :wire-type 2,
    :one-of :value},
   :info
   {:tag 4,
    :type :abci/ResponseInfo,
    :wire-type 2,
    :one-of :value},
   :set-option
   {:tag 5,
    :type :abci/ResponseSetOption,
    :wire-type 2,
    :one-of :value},
   :exception
   {:tag 1,
    :type :abci/ResponseException,
    :wire-type 2,
    :one-of :value},
   :init-chain
   {:tag 6,
    :type :abci/ResponseInitChain,
    :wire-type 2,
    :one-of :value},
   :begin-block
   {:tag 8,
    :type :abci/ResponseBeginBlock,
    :wire-type 2,
    :one-of :value},
   :query
   {:tag 7,
    :type :abci/ResponseQuery,
    :wire-type 2,
    :one-of :value},
   :list-snapshots
   {:tag 13,
    :type :abci/ResponseListSnapshots,
    :wire-type 2,
    :one-of :value},
   :load-snapshot-chunk
   {:tag 15,
    :type :abci/ResponseLoadSnapshotChunk,
    :wire-type 2,
    :one-of :value},
   :apply-snapshot-chunk
   {:tag 16,
    :type :abci/ResponseApplySnapshotChunk,
    :wire-type 2,
    :one-of :value}}},
 :google.protobuf/Duration
 {:fields
  {:seconds {:tag 1, :scalar? true, :type :int64, :wire-type 0},
   :nanos {:tag 2, :scalar? true, :type :int32, :wire-type 0}}},
 :abci/BlockParams
 {:fields
  {:max-bytes {:tag 1, :scalar? true, :type :int64, :wire-type 0},
   :max-gas {:tag 2, :scalar? true, :type :int64, :wire-type 0}}},
 :types/PartSetHeader
 {:fields
  {:total {:tag 1, :scalar? true, :type :uint32, :wire-type 0},
   :hash {:tag 2, :scalar? true, :type :bytes, :wire-type 2}}},
 :google.protobuf/Timestamp
 {:fields
  {:seconds {:tag 1, :scalar? true, :type :int64, :wire-type 0},
   :nanos {:tag 2, :scalar? true, :type :int32, :wire-type 0}}},
 :abci/Validator
 {:fields
  {:address {:tag 1, :scalar? true, :type :bytes, :wire-type 2},
   :power {:tag 3, :scalar? true, :type :int64, :wire-type 0}}},
 :abci.ResponseOfferSnapshot/Result
 {:enum? true,
  :fields
  {:UNKNOWN 0,
   :ACCEPT 1,
   :ABORT 2,
   :REJECT 3,
   :REJECT-FORMAT 4,
   :REJECT-SENDER 5}},
 :abci/ResponseDeliverTx
 {:fields
  {:code {:tag 1, :scalar? true, :type :uint32, :wire-type 0},
   :data {:tag 2, :scalar? true, :type :bytes, :wire-type 2},
   :log {:tag 3, :scalar? true, :type :string, :wire-type 2},
   :info {:tag 4, :scalar? true, :type :string, :wire-type 2},
   :gas-wanted {:tag 5, :scalar? true, :type :int64, :wire-type 0},
   :gas-used {:tag 6, :scalar? true, :type :int64, :wire-type 0},
   :events
   {:tag 7,
    :repeated? true,
    :type :abci/Event,
    :wire-type 2},
   :codespace {:tag 8, :scalar? true, :type :string, :wire-type 2}}},
 :abci/CheckTxType
 {:enum? true, :fields {:NEW 0, :RECHECK 1}},
 :crypto/ProofOps
 {:fields
  {:ops
   {:tag 1,
    :repeated? true,
    :type :crypto/ProofOp,
    :wire-type 2}}},
 :abci/RequestSetOption
 {:fields
  {:key {:tag 1, :scalar? true, :type :string, :wire-type 2},
   :value {:tag 2, :scalar? true, :type :string, :wire-type 2}}},
 :types/VersionParams
 {:fields
  {:app-version {:tag 1, :scalar? true, :type :uint64, :wire-type 0}}},
 :types/ValidatorParams
 {:fields
  {:pub-key-types
   {:tag 1,
    :repeated? true,
    :scalar? true,
    :type :string,
    :wire-type 2}}},
 :abci.ResponseApplySnapshotChunk/Result
 {:enum? true,
  :fields
  {:UNKNOWN 0,
   :ACCEPT 1,
   :ABORT 2,
   :RETRY 3,
   :RETRY-SNAPSHOT 4,
   :REJECT-SNAPSHOT 5}},
 :abci/ResponseEndBlock
 {:fields
  {:validator-updates
   {:tag 1,
    :repeated? true,
    :type :abci/ValidatorUpdate,
    :wire-type 2},
   :consensus-param-updates
   {:tag 2, :type :abci/ConsensusParams, :wire-type 2},
   :events
   {:tag 3,
    :repeated? true,
    :type :abci/Event,
    :wire-type 2}}},
 :abci/RequestInfo
 {:fields
  {:version {:tag 1, :scalar? true, :type :string, :wire-type 2},
   :block-version {:tag 2, :scalar? true, :type :uint64, :wire-type 0},
   :p2p-version {:tag 3, :scalar? true, :type :uint64, :wire-type 0}}}}
